body {
  scrollbar-gutter: stable;
}
.installed-dependency,
.available-dependency {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 10px;
  }
  &:first-of-type {
    margin-top: 10px;
  }
}
.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.name {
  font-weight: bold;
}
.downloads {
  display: flex;
  align-items: center;
}
.icon {
  margin-left: 5px;
}
.details {
  margin-top: 5px;
}
.update {
  display: flex;
  gap: 4px;
}
.uninstall-button {
  padding: 4px;
  & > vscode-icon {
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
}

vscode-collapsible::part(body) {
  overflow: visible;
}
