.vscode/**
.vscode-test/**
node_modules
webpack.config.js
gulpfile.js
package-lock.json
i18n/**
tsconfig.json
tslint.json
out/test/**
out/**/*.map
resources/webviews/out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
resources/webviews/tsconfig.json
resources/webviews/tslint.json
