.vscode/**
.vscode-test/**
node_modules
.gitignore
webpack.config.js
gulpfile.js
i18n/**/package.i18n.json
locale/**
src/**
tsconfig.json
vsc-extension-quickstart.md
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*